{% extends 'base.html' %}


{% block content %}
<h2 style="margin-top: 10px;"><marquee behaviour="alternate">Dryfruit List</marquee></h2>
<hr>
{% for n1 in dryfruit_list %}
    <div class="card" style="width: 18rem;">

        <img src="/media/{{n1.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{n1.name}}</h5>
          <p class="card-text">{{n1.desc}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
{% endfor %}
{% endblock %}